week4/hamlet/play.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT play (author, title, act*)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT act (title, scene*)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT scene (title, (speech | stagedir)*)>
<!ELEMENT speech (speaker, (line | stagedir)*)>
<!ELEMENT speaker (#PCDATA)>
<!ELEMENT line (#PCDATA | stagedir)*>
<!ELEMENT stagedir (#PCDATA)>
